:root{ 
    --gap:16px;
    --radius:8px; }

body{ background-image: url('https://th.bing.com/th/id/OIP.DNhUpAuAGmEgh9UE0pJsYAHaE8?w=233&h=180&c=7&r=0&o=7&dpr=1.5&pid=1.7&rm=3');
    font-family: system-ui, Arial, sans-serif; 
    margin:0; 
    color:#040504; 
    }
    h1{
        position: relative;left: 50%;transform: translateX(-50%);
        color:#009056; 
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
.topbar{ 
    background-image: url('https://th.bing.com/th/id/OIP.DNhUpAuAGmEgh9UE0pJsYAHaE8?w=233&h=180&c=7&r=0&o=7&dpr=1.5&pid=1.7&rm=3');
    background-color:#f8f6f6;
    padding:12px 20px; 
    display:flex; 
    justify-content:space-between; 
    align-items:center; }   
    
    a{color: #12f40e;
       ;
        font-weight: bold;
        margin-left: 15px;
        position: relative;top: 30px;
    }
.container{ 
    padding:20px; 
    max-width:960px; 
    margin:0 auto; 
    width:100%;  
    background-color: rgb(0, 98, 255);}


.book-list table{ 
    width:100%; 
    border-collapse:collapse;}

.book-list th, .book-list td{ 
    text-align:left; 
    padding:8px; 
    border-bottom:1px solid #89cd9f; }
    .btn-ex{
        background-color: #de2929;
        color: #1a1717;
    }
.form-container{ 
    max-width:600px; 
    }

form label{ 
    display:block; 
    margin-bottom:10px;
    font-weight:bold; ;
}

input, select, button{ 
    padding:8px; 
    border-radius:8px; 
    border:1px solid #090808;
    width:100%; 
    box-sizing:border-box;}

.actions{ 
    margin-top:12px; }

button{ 
    cursor:pointer;
    background-color:rgb(0, 255, 140)}
    .btn-cancel{
        color: #de2929;
        text-shadow: #100e0e 1px 1px 2px;
        position: relative;top: 10px;
    } 

.footer{ 
    text-align:center; 
    padding:12px; 
    font-size:0.9rem; 
    color:#100e0e; }